[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/BusinessDirt/glfw.git
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
